* {
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    border: 10px whitesmoke solid;
    margin: 75px;
}

.box1 {
    font-size: 35px;
    background-color: gold;
    color: snow ;

    padding: 20px;
    border: 15px solid red;
    margin: 20px;
}

.box2 {
    font-size: 75px;
    background-color: gold;
    color: silver ;

    padding: 20px;
    border: 15px solid red;
    margin: 30px;
    box-sizing: border-box;
}

p {
    color: white;
    text-align: center;
    font-size: 30px;

    padding: 20px;
    border: 20px red ridge;
    margin: 20px;
}

span {
    color: crimson;
    
    padding: 2px;
    border: 2px gold dotted;
    margin: 2px ;
}